name: Build & Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    environment: "dev"
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
#      - name: Sonarqube Scan
#        env:
#            SONAR_TOKEN: ${{ secrets.SONARQUBE_TOKEN }}
#        run:  mvn -DskipTests -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=paolo-lulli_eng-excellence -Dsonar.organization=paolo-lulli -Dsonar.login=${{ secrets.SONARQUBE_TOKEN }} -Dsonar.host.url=https://sonarcloud.io


      - name: Build with Maven
        run: mvn clean install

      - name: Set commit environment variable
        run: commit_id=$(git rev-parse --short HEAD); echo "COMMIT_ID=${commit_id}" >> $GITHUB_ENV


